# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore any folders starting with .
.*/
!.gitignore  # optionally include .gitignore files

# Ignore all .env files in any directory
.env
**/.env

# Ignore SQLite database files
*.db
*.db-shm
*.db-wal

# local caches
api/data/*